<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ducky template for portfolio</title>
    <!--add link for tailwind css-->
    <link rel="stylesheet" href="/src/tailwind/output.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!--this link for JQuery-->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
  </head>
  <body>
    <div class="footer-section w-screen bg-black text-white text-center">
      <div class="div-for-horizontal-line py-16 px-6">
        <hr />
      </div>
      <div class="gsap-scroll div-contact-for-me text-3xl md:text-5xl">
        <h1>Contact me for more!</h1>
      </div>
      <div
        class="gsap-scroll contact-btn-footer md:py-16 py-10 flex justify-center"
      >
        <button
          class="contact-btnfooter bg-gray-700 p-3 px-5 rounded-full flex justify-center items-center"
        >
          <div class="div-for-website">aathilducky.com</div>
          <div class="div-for-more-details-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4 m-1"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"
              />
            </svg>
          </div>
        </button>
      </div>
      <div class="footer-contentent-sec">
        <div class="grid grid-cols-1 md:grid-cols-5 py-10">
          <div class="div md:col-span-2 gsap-scroll">
            <div class="div text-4xl">LOGO</div>
            <div class="div mt-5">
              <p>2024 ⓒ - Made by Aathil Ducky All rights reserved</p>
            </div>
            <div
              class="div-list-content mt-7 md:mt-14 text-2xl text-gray-500 hover:text-white hover:duration-500"
            >
              <a href="#">Privacy Policy</a>
            </div>
            <div
              class="div-list-content text-2xl text-gray-500 hover:text-white hover:duration-500"
            >
              <a href="#">Terms & Conditions</a>
            </div>
          </div>
          <div class="div gsap-scroll">
            <div class="div-list">
              <h2 class="font-bold text-2xl md:mt-0 mt-8 mb-4">Links</h2>
            </div>
            <div
              class="div-list text-gray-400 hover:text-white hover:duration-500"
            >
              <a href="#">Home</a>
            </div>
            <div
              class="div-list text-gray-400 hover:text-white hover:duration-500"
            >
              <a href="#">Projects</a>
            </div>
            <div
              class="div-list text-gray-400 hover:text-white hover:duration-500"
            >
              <a href="#">About me</a>
            </div>
            <div
              class="div-list text-gray-400 hover:text-white hover:duration-500"
            >
              <a href="#">Blog</a>
            </div>
            <div
              class="div-list text-gray-400 hover:text-white hover:duration-500"
            >
              <a href="#">Contacts</a>
            </div>
          </div>
          <div class="div gsap-scroll">
            <div class="div-list">
              <h2 class="font-bold text-2xl md:mt-0 mt-8 mb-4">
                Social Networks
              </h2>
            </div>
            <div
              class="div-list text-gray-400 hover:text-white hover:duration-500"
            >
              <a href="#">Github</a>
            </div>
            <div
              class="div-list text-gray-400 hover:text-white hover:duration-500"
            >
              <a href="#">Linkedin</a>
            </div>
            <div
              class="div-list text-gray-400 hover:text-white hover:duration-500"
            >
              <a href="#">Instagram</a>
            </div>
            <div
              class="div-list text-gray-400 hover:text-white hover:duration-500"
            >
              <a href="#">YouTube</a>
            </div>
            <div
              class="div-list text-gray-400 hover:text-white hover:duration-500"
            >
              <a href="#">Twitter</a>
            </div>
            <div
              class="div-list text-gray-400 hover:text-white hover:duration-500"
            >
              <a href="#">Facebook</a>
            </div>
          </div>
          <div class="div gsap-scroll">
            <div class="div-list">
              <h2 class="font-bold text-2xl md:mt-0 mt-8 mb-4">Contact me</h2>
            </div>
            <div
              class="div-list text-gray-400 hover:text-white hover:duration-500"
            >
              <a href="#">abcd@gmail.com</a>
            </div>
            <div
              class="div-list text-gray-400 hover:text-white hover:duration-500"
            >
              <a href="#">+94 756444644</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
